{% form 'reset_customer_password' %}
    <div class="flex flex-col max-w-md px-5 mx-auto space-y-10">
        <span class="text-4xl text-center">Reset account password</span>
        <span class="font-light text-center">Enter a new password for</span>
        {% if form.errors %}
            {% render 'form-errors', form:form %}
        {% endif %}
        <div class="flex flex-col space-y-5">
            <input name="customer[password]" placeholder="Password" type="password">
            <input name="customer[password_confirmation]" placeholder="Confirm password" type="password">
        </div>
        <button class="h-12 mx-auto max-w-fit btn-primary" value="Reset password">Reset password</button>
    </div>
{% endform %}